<!DOCTYPE html>
<html ng-app>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title>todo list</title>
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/todo_list.css">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/todo.js"></script>
</head>
<body >
    <div class="container">
        <h1>
           <a href="http://localhost:8080/multi-web-web">multi-web</a>
        </h1>
        <title>Todo List</title>

        <h1>Todo List</h1>
        <div ng-controller="TodoListController">
             <div id="todoForm">
                 <form id="todoForm" ng-submit="createTodo()">
                     <input id="todoTitle" name="todoTitle" type="text" ng-model="todoTitle">
                     <input  value="Create Todo" type="submit">
                     <div>
                     </div>
                </form>
             </div>
             <hr>
             <div id="todoList">
                 <ul ng-repeat='todo in todoList'>
                          <li>
                             {{todo.todoTitle}}
                             <form id="todoForm" style="display: inline-block;" ng-hide='todo.finished' ng-submit='todoFinish(todo.todoId)'>
                                 <input id="todoId" name="todoId" value={{todo.todoId}} type="hidden">
                                 <input type="submit" name="finish" value="Finish">
                                 <div></div>
                             </form>
                             <form id="todoForm" style="display: inline-block;" ng-submit='todoDelete(todo.todoId,$index)'>
                                 <input id="todoId" name="todoId" value={{todo.todoId}} type="hidden">
                                 <input type="submit" value="Delete">
                                 <div></div>
                             </form>
                        </li>
                 </ul>
             </div>
        </div>

        <hr>
        <p style="text-align: center; background: #e5eCf9;">Copyright © 20XX CompanyName</p>
    </div>
</body>
</html>